<section class="todoapp">
    <header class="header">
        <h1>todos</h1>
        <input class="new-todo"
               placeholder="What needs to be done?"
               [(ngModel)]="input"
               (keyup.enter)="add()"
               autofocus />
    </header>
    <div *ngIf="todosStream | async as todos">
        <section class="main" *ngIf="todos.length > 0">
            <input class="toggle-all"
                   type="checkbox"
                   #toggleall
                   [checked]="allChecked"
                   (click)="toggleAll(toggleall.checked)" />
            <label for="toggle-all">Mark all as complete</label>

            <ul class="todo-list">
                <li *ngFor="let todo of todos | filter: (currentFilterStream | async)" [class.completed]="todo.completed" [class.editing]="todo.editing">
                    <div class="view">
                        <input class="toggle" type="checkbox" (click)="toggle(todo)" [checked]="todo.completed" />
                        <label (click)="edit($event, todo)">{{todo.text}}</label>
                        <button class="destroy" (click)="remove(todo)"></button>
                    </div>
                    <input class="edit"
                           #editedtodo
                           *ngIf="todo.editing"
                           [value]="todo.text"
                           (keyup.enter)="update($event, todo, editedtodo.value)"
                           (keyup.escape)="edit($event, todo)"
                           (focusout)="update($event, todo, editedtodo.value)"
                           autofocus />
                </li>
            </ul>
        </section>
        <footer class="footer" *ngIf="todos.length > 0">
            <span class="todo-count"><strong>{{ activeCount }}</strong> {{ activeCount == 1 ? 'item' : 'items' }} left</span>
            <ul class="filters">
                <li><a href="#" [class.selected]="currentFilter === Filter.All" (click)="setFilter(Filter.All)">All</a></li>
                <li><a href="#" [class.selected]="currentFilter === Filter.Active" (click)="setFilter(Filter.Active)">Active</a></li>
                <li><a href="#" [class.selected]="currentFilter === Filter.Completed" (click)="setFilter(Filter.Completed)">Completed</a></li>
            </ul>
            <button class="clear-completed" *ngIf="completedCount > 0" (click)="removeCompleted()">Clear completed</button>
        </footer>
    </div>
</section>
